.hero {
    background-image: url('../img/Background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding-top: 20%;
    height: 100%;
}

.botao-entrar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
    
    
.cards-decorativos {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
 
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #333;
}

.card p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0077cc;
}

